/* write your css here */

.bg_Image{
    background: url(./assets/Images/bghome.svg);
    width: full;
}

.codeblock_gradient{
   
        border-width: 2px;
        border-image-source: linear-gradient(to right bottom, #ffffff38, #ffffff00);
        background: linear-gradient(
          111.93deg,
          rgba(14, 26, 45, 0.24) -1.4%,
          rgba(17, 30, 50, 0.38) 104.96%);
    
}

@media (min-width: 640px) and (max-width: 1024px) {
  .skillSectionButtonMedia{
    margin: 0 auto;
  }
}


.spinner {
   width: 56px;
   height: 56px;
   border-radius: 50%;
   padding: 1.1px;
   background: conic-gradient(#0000 10%,#474bff) content-box;
   -webkit-mask: repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
        radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 calc(100% - 9px));
   -webkit-mask-composite: destination-in;
   mask-composite: intersect;
   animation: spinner-d55elj 1s infinite steps(10);
}

@keyframes spinner-d55elj {
   to {
      transform: rotate(1turn);
   }
}

